@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

head{
    font-family: 'Ubuntu', sans-serif;
}
body{
    font-family: 'Ubuntu', sans-serif;
}

/*Começo do index*/
    /*Começo do layout da página*/
        .layout{
            display: grid;
            grid-template-columns: 15% 28.3% 28.3% 28.3%;
        }
    /*Fim do layout da página*/

    /* Começo do menu lateral */
        .logo{
            text-align: center;
        }
        .menu_lateral{
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            height: 100%;
            background: #11101d;
            display: grid;
            grid-column: 1/2;
        }
        .menu_lateral div ul{
            position: relative;
            list-style-type: none;
            padding: 0;
        }
        .menu_lateral div ul li a{
            color: white;
            display: grid;
            align-items: center;
            text-decoration: none;
            padding: 8px 20px;
            font-size: 1.1em;
            height: 40px;
        }
        .menu_lateral div ul li a:hover{
            background: linear-gradient(#81d3fc, #4d4ff1);
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }
        .menu_lateral div ul ul{
            left: 182px;
            position: absolute;
            background: #11101d;
            width: 250px;
            top: 0;
            display: none;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }
        .menu_lateral div ul .dropdown{
            position: relative;

        }
        .menu_lateral div ul .dropdown:hover ul{
            display: initial;
        }
    /* Fim do menu lateral */

    /* Começo das notícias rápidas */
        .Slider{
            margin-bottom: 50px;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            grid-column: 2/5;
        }
        .slider{
            width: 500px;
            height: 200px;
            border-radius: 10px;
            overflow: hidden;
        }
        .slides{
            width: 500%;
            height: 200px;
            display: flex;
        }
        .slides input{
            display: none;
        }
        .img{
            width: 20%;
            transition: 2s;
        }
        .img img{
            width: 500px;
            height: 200px;
        }

        .scrollManual{
            position: absolute;
            width: 500px;
            margin-top: -20px;
            display: flex;
            justify-content: center;
        }
        .btnManual{
            border: 2px solid #81d3fc;
            padding: 5px;
            border-radius: 10px;
            cursor: pointer;
            transition: 1s;
        }
        .btnManual:not(:last-child){
            margin-right: 20px;
        }
        .btnManual:hover{
            background: #81d3fc;
        }
        #btn1:checked ~ .primeiro{
            margin-left: 0;
        }
        #btn2:checked ~ .primeiro{
            margin-left: -20%;
        }
        #btn3:checked ~ .primeiro{
            margin-left: -40%;
        }
        #btn4:checked ~ .primeiro{
            margin-left: -60%;
        }

        .autoscroll{
            position: absolute;
            display: flex;
            width: 500px;
            justify-content: center;
            margin-top: 180px;

        }
        .autoscroll div{
            border: 2px solid #81d3fc;
            padding: 5px;
            border-radius: 10px;
            transition: 1s;
        }
        .autoscroll div:not(:last-child){
            margin-right: 20px;
        }
        #btn1:checked ~.autoscroll .autobtn1{
            background: #81d3fc;
        }
        #btn2:checked ~.autoscroll .autobtn2{
            background: #81d3fc;
        }
        #btn3:checked ~.autoscroll .autobtn3{
            background: #81d3fc;
        }
        #btn4:checked ~.autoscroll .autobtn4{
            background: #81d3fc;
        }
    /* Fim das notícias rápidas */

    /*Começo dos links*/
        .links{
            grid-column: 2/5;
            text-align: center;
        }
        .links div img{
            padding: 0;
            margin-bottom: 5px;
            border-radius: 10px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
        .link{
            float: left;
            width: 33.33%;
        }
    /*Fim dos links*/

    /*Começo do "Sobre nós"*/
        .about{
            grid-column: 2/5;
            padding: 15px;
            font-size: 15px;
        }
        .maisTexto{
            display: none;
        }
        .btnLerMais{
            padding: 10px;
            width: 100%;
            cursor: pointer;
        }
        .texto.mostrarMais .maisTexto{
            display: inline;
        }
    /*Fim do "Sobre nós"*/

    /*Começo dos links das associações*/
        .linksAss{
            grid-column: 2/5;
            text-align: center;
            display: flex;
            flex-wrap: wrap;
        }
        .linkAss{
            flex: 1 1 33%;
        }
    /*Fim dos links das associações*/
/*Fim do index*/

/*Começo do serCol*/
       /*Começo do layout da página*/ 
        .layoutCol{
            display: grid;
            grid-template-columns: 15% 85%;  
        }
       /*Fim do layout da página*/

       /*Começo do texto*/ 
        .cardCol{
            grid-column: 2;
            align-items: center;
            justify-content: center;
            padding: 0 1.5rem;
        }
        .cardColumbo{
            padding: 2rem;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            display: grid;
            align-items: center;
            border-radius: 10px;
            margin: 15px;
        }
        #table td,#table th{
            border: 1px solid #ddd;
            padding: 8px;
        }
        #table tr:nth-child(even){
            background-color: #f2f2f2;
        }
        #table tr:hover {
            background-color: #ddd;
        }
        #table th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #81d3fc;
            color: white;
        }
       /*Fim do texto*/
/*Fim do serCol*/

/*Começo dos contatos*/
    /*Começo do layout da página*/ 
       .layoutCon{
        display: grid;
        grid-template-columns: 15% 85%;  
    }
   /*Fim do layout da página*/

   /*Começo do layout dos cards*/
    .cardCont{
        grid-column: 2;
        align-items: center;
        justify-content: center;
        padding: 0 1.5rem;
    }
    .cardContatos{
        padding: 2rem;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        border-radius: 10px;
        margin: 15px;
    }
   /*Fim do layout dos cards*/
/*Fim dos contatos*/

/*Começo do assDist*/
    /*Começo do layout da página*/ 
        .layoutAss{
            display: grid;
            grid-template-columns: 15% 85%;  
        }
   /*Fim do layout da página*/

    /*Começo do layout dos cards*/
        .Cards{
            grid-column: 2;
            align-items: center;
            justify-content: center;
            padding: 0 1.5rem;
        }
        .card{
            padding: 2rem;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            border-radius: 10px;
            margin: 15px;
        }
        .cardTexto{
            margin: 50px;
        }
        .cardImg a img{
            width: 150px;
        }
    /*Fim do layout dos cards*/
/*Fim do assDist*/

/*Começo do orgSoc*/
    /*Começo do layout da página*/ 
        .layoutOrg{
            display: grid;
            grid-template-columns: 15% 85%;  
        }
    /*Fim do layout da página*/

    /*Começo do layout dos cards*/
        .cardOrg{
            grid-column: 2;
            align-items: center;
            justify-content: center;
            padding: 0 1.5rem;
        }
        .cardOrgSoc{
            padding: 2rem;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            border-radius: 10px;
            margin: 15px;
        }
    /*Fim do layout dos cards*/
/*Fim do orgSoc*/